@tailwind base;
@tailwind components;
@tailwind utilities;

[x-cloak] {
  display: none;
}

/* ---------- Components ---------- */
@layer components {
    .coming-soon {
        @apply text-gray-400 cursor-not-allowed pointer-events-none;
    }
}
