name: CI

on:
  # push:
  #   branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  ci:
    name: Code Quality Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: "8.2"
          extensions: mbstring, intl, pdo_mysql
          coverage: none

      - name: Validate composer.json
        run: composer validate --no-interaction

      - name: Install dependencies
        run: composer install --no-dev --prefer-dist --no-progress

      - name: PHP Lint
        run: |
          find app -type f -name "*.php" -print0 | xargs -0 -n1 php -l

      # Optional: Unit tests
      # - name: Run PHPUnit
      #   run: vendor/bin/phpunit --testdox
